---
# Only the main Sass file needs front matter (the dashes are enough)
# Default sass_dir: _sass
---
@charset "utf-8";

// Import Bulma utilities
@import "bulma/sass/utilities/_all";

// Bulma customizations

// Link colors
$link: $info;
$link-invert: $info-invert;

// Import remainder of bulma
@import "bulma/sass/base/_all";
@import "bulma/sass/elements/_all";
@import "bulma/sass/components/_all";
@import "bulma/sass/grid/_all";
@import "bulma/sass/layout/_all";

// Additional customizations

// nav-item in info hero
.hero.is-info {
  .nav-item a,
  a.nav-item {
    &.is-tab {
      &:hover {
        border-bottom: 1px solid $link-invert;
      }
      &.is-active {
        border-bottom: 3px solid $link-invert;
        color: $link-invert;
      }
    }
  }
}

// Responsive 16x9 video
.video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}