---
layout: page
title: hi there
subtitle: I'm Alex, I like to code stuff and talk about games
youtube_videos:
  - JIU3Y86TcjM
  - nELZ0Vdf_hA
  - 6hhD9Tdafu8
  - R4n1NeHqFyc
  - J4rXL_EDbG0
  - 34_VwyuX-UQ
  - edPb6TzEY3Q
  - okUzvcuPz7A
  - 5dYfRbGYPXk
---
<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-2">Github Projects</h1>
      <h2 class="subtitle">a bit of what I love to do</h2>
      <br> 

      {% assign public_repos = site.github.public_repositories | where: 'fork',false | sort: 'pushed_at' | reverse %}
      <div class="columns is-multiline level">
        {% for repository in public_repos limit: 8 %}

          <div class="column is-one-quarter level-item">
            <div class="card is-fullwidth">

              <header class="card-header">
                <p class="card-header-title">{{ repository.name }}</p>
              </header>

              <div class="card-content">
                <p class="content">{{ repository.description }}</p>
              </div>
              
              <footer class="card-footer">
                <a class="card-footer-item" href="{{ repository.html_url }}" target="_blank">
                  <i class="fa fa-github fa-lg"></i>
                </a>
                
                {% if repository.homepage %}
                  <a class="card-footer-item" href="{{ repository.homepage }}" target="_blank">
                    <i class="fa fa-globe fa-lg"></i>
                  </a>
                {% endif %}
              </footer>

            </div>
          </div>

        {% endfor %}
      </div>

    </div>
  </div>
</section>

<section class="hero is-dark">
  <div class="hero-body">

    <div class="container has-text-centered">
      <h1 class="title">YouTube Videos</h1>
      <h2 class="subtitle">I also make these sometimes</h2>

      <div class="columns is-multiline">
        {% for vid_id in page.youtube_videos limit: 6 %}
          <div class="column is-one-third">
            <div class="video">
              <iframe width="640" height="360" src="https://www.youtube.com/embed/{{ vid_id }}" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

  </div>
</section>