---
layout: default
title: tinnvec.com
subtitle: tango india november november victor edward charlie
---

<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-2">Github Projects</h1>
      <h2 class="subtitle">a sample of what I love to do</h2>
      <br> 

      {% assign public_repos = site.github.public_repositories | where: 'fork',false | sort: 'pushed_at' | reverse %}
      <div class="columns level">
        {% for repository in public_repos limit: 4 %}

          <div class="column is-one-quarter level-item">
            <div class="card is-fullwidth">

              <header class="card-header">
                <h2 class="subtitle card-header-title">{{ repository.name }}</h2>
              </header>

              <div class="card-content">
                <p class="content">{{ repository.description }}</p>
              </div>
              
              <footer class="card-footer">
                  <a class="card-footer-item" href="{{ repository.html_url }}" target="_blank">
                    <i class="fa fa-github fa-2x"></i>
                  </a>
                
                {% if repository.homepage %}
                  <a class="card-footer-item" href="{{ repository.homepage }}" target="_blank">
                    <i class="fa fa-globe fa-2x"></i>
                  </a>
                {% endif %}
              </footer>

            </div>
          </div>

        {% endfor %}
      </div>

    </div>
  </div>
</section>

<section class="hero is-dark">
  <div class="hero-body">

    <div class="container has-text-centered">
      <h1 class="title">YouTube Videos</h1>
      <h2 class="subtitle">visual evidence</h2>

      <div class="columns">
        <div class="column is-one-third">
          <figure class="image is-16by9">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/videoseries?list=PL8ZcCrtj9YYXaVup_cU-dPl7HIHVyA09s" frameborder="0" allowfullscreen></iframe>
          </figure>
        </div>

        <div class="column is-one-third">
          <figure class="image is-16by9">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/videoseries?list=PL8ZcCrtj9YYUSDLBhFBYqy-L0gVJdlZSi" frameborder="0" allowfullscreen></iframe>
          </figure>
        </div>

        <div class="column is-one-third">
          <figure class="image is-16by9">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/videoseries?list=PL8ZcCrtj9YYUwJLtrK8js-WAFms183NHl" frameborder="0" allowfullscreen></iframe>
          </figure>
        </div>
      </div>
    </div>

  </div>
</section>