<header>

  <nav class="nav has-shadow">
    <div class="container">
      
      <div class="nav-left">
        <a class="nav-item is-brand" href="{{ site.baseurl }}">{{ site.title }}</a>
      </div>

      <div class="nav-center">

        {% if site.data.authors[site.author].github_username %}
          <a class="nav-item" href="https://github.com/{{ site.data.authors[site.author].github_username }}" target="_blank">
            <span class="icon"><i class="fa fa-github" aria-hidden="true"></i></span>
          </a>
        {% endif %}
        
      </div>

      <div class="nav-right">

        {% for page in site.pages %}
          {% if page.title and page.permalink %}

            <a class="nav-item" href="{{ page.permalink }}">
              {{ page.title }}
            </a>

          {% endif %}
        {% endfor %}

      </div>

    </div>
  </nav>
  
</header>