<header>

  <nav class="nav has-shadow">
    <div class="container">
      
      <div class="nav-left">
        <a class="nav-item is-brand" href="{{ site.baseurl }}">{{ site.title }}</a>
      </div>

      <div class="nav-center">

        {% if site.author.github_username %}
          <a class="nav-item" href="https://github.com/{{ site.author.github_username }}" target="_blank">
            <span class="icon">
              <i class="fa fa-github" aria-hidden="true"></i>
            </span>
          </a>
        {% endif %}
        
      </div>

      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>

      <div class="nav-right nav-menu">

        {% for site_page in site.pages %}
          {% if site_page.title and site_page.permalink %}

            <a class="nav-item is-tab{% if page.url contains site_page.url %} is-active{% endif %}" href="{{ site_page.permalink }}">
              {{ site_page.title }}
            </a>

          {% endif %}
        {% endfor %}

      </div>

    </div>
  </nav>
  
</header>