<nav class="nav">
  <div class="container">
    
    <div class="nav-left">
      <a class="nav-item is-brand" href="{{ site.url }}">{{ site.title }}</a>
    </div>

    <div class="nav-center">
      {% for username in site.data.authors[site.author].usernames %}

        {% assign service_name = username[0] %}
        {% assign social_link = site.data.social_links[service_name] %}
        
        {% if social_link %}
        <a class="nav-item" href="{{ social_link.url_base }}{{ username[1] }}" target="_blank">
          <span class="icon">
            <i class="fa fa-{{ service_name }}"></i>
          </span>
        </a>
        {% endif %}

      {% endfor %}
    </div>

    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <div class="nav-right nav-menu">
      {% for site_page in site.pages %}

        {% if site_page.nav_name and site_page.permalink %}
        <a class="nav-item is-tab{% if page.url contains site_page.url %} is-active{% endif %}" href="{{ site_page.permalink }}">
          {{ site_page.nav_name }}
        </a>
        {% endif %}

      {% endfor %}
    </div>

  </div>
</nav>