{% if site.author.github %}
<a class="nav-item" href="https://github.com/{{ site.author.github }}" target="_blank">
  <span class="icon">
    <i class="fa fa-github"></i>
  </span>
</a>
{% endif %}

{% if site.author.twitter %}
<a class="nav-item" href="https://twitter.com/{{ site.author.twitter }}" target="_blank">
  <span class="icon">
    <i class="fa fa-twitter"></i>
  </span>
</a>
{% endif %}

{% if site.author.linkedin %}
<a class="nav-item" href="https://www.linkedin.com/in/{{ site.author.linkedin }}" target="_blank">
  <span class="icon">
    <i class="fa fa-linkedin"></i>
  </span>
</a>
{% endif %}

{% if site.author.youtube %}
<a class="nav-item" href="https://www.youtube.com/{{ site.author.youtube }}" target="_blank">
  <span class="icon">
    <i class="fa fa-youtube"></i>
  </span>
</a>
{% endif %}

{% if site.author.twitch %}
<a class="nav-item" href="https://twitch.tv/{{ site.author.twitch }}" target="_blank">
  <span class="icon">
    <i class="fa fa-twitch"></i>
  </span>
</a>
{% endif %}